:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

/* MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr;
    place-content: center;
    place-items: center;
    min-height: 100dvh;
    background-color: var(--yellow);
    font-family: 'figtree';
}

.global-card {
    max-width: 90%;
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 1.2rem;
    border-radius: 20px;
    box-shadow: .4rem .4rem 0 var(--black);
    transition: box-shadow .3s ease;
}

.global-card:hover{
    box-shadow: .8rem .8rem 0 var(--black);
    transition: box-shadow .3s ease .2s;
}

.svg-img {
    border-radius: 10px;
    width: 100%;
}

.information {
    margin: 1.5em 0;
}

.inf-learn {
    background-color: var(--yellow);
    font-weight: 700;
    padding: .4em .8em;
    border-radius: 5px;
    width: fit-content;
    font-size: 14px;
}

.inf-date {
    font-weight: 500;
    margin: .8em 0 1em;
    font-size: 14px;
}

.inf-link a{
    font-weight: 800;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
    transition: color .3s ease;
}

.inf-link a:hover  {
    color: var(--yellow);
}

.inf-description {
    font-weight: 500;
    color: var(--grey);
    line-height: 1.5em;
    margin-top:1.2em;
}

.perfil {
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-right: auto;
    font-size: 14px;
}

.perfil-img {
    margin-right: .8em;
    width: 2.2em;
}

.attribution {
    text-align: center;
    margin: 2em;
    color: var(--black);
    font-weight: 700;
    font-size: .7em;
    a {
        font-weight: 600;
        text-decoration:none;
        color: var(--black);
        transition: all .5s ease;
    }
    a:hover {
        background-color: var(--white);
        box-shadow: 3px 3px 0 rgba(0, 0, 0);
        border-radius: .5em;
        padding: .4em;
        font-weight: 800;
    }
}

/* DESKTOP & TABLET */

@media screen and (width >= 384px){  

    .global-card{
        max-width: 384px;
    }
} 
